.button {
    padding: 28px;
    border-radius: 10px;
    border: none;
    background-color: #6278F7;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    color: #95FFD4;
}