.form {
    margin: 80px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.form form {
    max-width: 100%;
    background-color: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0,0,0, 0.2);
    padding: 32px 64px;
    flex: 1;
    border-radius: 20px;
}

.form h2 {
    font-weight: 400;
    font-size: 32px;
}

