.title {
    margin: 80px auto;
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.title h1 {
    font-size: 30px;
    color: #6278F7;
    border-bottom: #6278F7 4px solid;
    padding-bottom: 8px;
}